<% dissent_vote = 0 %> <% majority_vote = 0 %>
<% majority_author = "" %>
<% concurrance_1_author = "" %> <% concurrance_2_author = "" %> <% concurrance_3_author = "" %> <% concurrance_4_author = "" %>
<% dissent_1_author = "" %> <% dissent_2_author = "" %> <% dissent_3_author = "" %> <% dissent_4_author = "" %>
<% con_dissent_1_author = "" %> <% con_dissent_2_author = "" %> <% con_dissent_3_author = "" %> <% con_dissent_4_author = "" %>


<% @justices.each do |justice| %>
  <% if (justice.opinions.find_by(case_id: @case).majority_with == 1) %>
    <% majority_vote = majority_vote + 1 %>
  <% elsif (justice.opinions.find_by(case_id: @case).dissent_with == 1) %>
    <% dissent_vote = dissent_vote + 1 %>
  <% end %>
  <% if (justice.opinions.find_by(case_id: @case).majority_wrote == 1) %>
    <% majority_author = justice.name %>
  <% elsif (justice.opinions.find_by(case_id: @case).concurrance_1_wrote == 1) %>
    <% concurrance_1_author = justice.name %>
  <% elsif (justice.opinions.find_by(case_id: @case).concurrance_2_wrote == 1) %>
    <% concurrance_2_author = justice.name %>
  <% elsif (justice.opinions.find_by(case_id: @case).concurrance_3_wrote == 1) %>
    <% concurrance_3_author = justice.name %>
  <% elsif (justice.opinions.find_by(case_id: @case).concurrance_4_wrote == 1) %>
    <% concurrance_4_author = justice.name %>
  <% elsif (justice.opinions.find_by(case_id: @case).dissent_1_wrote == 1) %>
    <% dissent_1_author = justice.name %>
  <% elsif (justice.opinions.find_by(case_id: @case).dissent_2_wrote == 1) %>
    <% dissent_2_author = justice.name %>
  <% elsif (justice.opinions.find_by(case_id: @case).dissent_3_wrote == 1) %>
    <% dissent_3_author = justice.name %>
  <% elsif (justice.opinions.find_by(case_id: @case).dissent_4_wrote == 1) %>
    <% dissent_4_author = justice.name %>
  <% elsif (justice.opinions.find_by(case_id: @case).con_dissent_1_wrote == 1) %>
    <% con_dissent_1_author = justice.name %>
  <% elsif (justice.opinions.find_by(case_id: @case).con_dissent_2_wrote == 1) %>
    <% con_dissent_2_author = justice.name %>
  <% elsif (justice.opinions.find_by(case_id: @case).con_dissent_3_wrote == 1) %>
    <% con_dissent_3_author = justice.name %>
  <% elsif (justice.opinions.find_by(case_id: @case).con_dissent_4_wrote == 1) %>
    <% con_dissent_4_author = justice.name %>
  <% end %>
<% end %>

<div class="contentTitle">
  <h2>Showing Case <%= link_to "(edit)", edit_case_path(@case) %> <span class="caseDelete"> <%= link_to "(destroy)", case_path(@case), method: :delete, data: { confirm: 'Are you sure?'} %></span></h2>
</div>

<div class="caseSub">

  <div class="caseName">
    <h2><%= @case.plaintiff %> vs <%= @case.defendant %> -- <%= majority_vote %>-<%= dissent_vote %></h2>
  </div>
  <div class="caseDates">
    <h3>Argument Date: <%= link_to @case.argument_date, @case.sc_arg_url %> || Opinions Delivered: <%= link_to @case.opinion_date, @case.sc_op_url %> </h3>
  </div>
  <div class="caseDescription">
    <h3>Question: </h3>
    <p><%= @case.description %> || <%= link_to @case.description_source, @case.description_source_url %></p>
  </div>
  <div class="caseJudgement">
    <h3>Judgement: </h3>
    <p><%= @case.judgement %> || <%= link_to @case.judgement_source, @case.judgement_source_url %></p>
  </div>
  <div class="caseResources">
    <h3>Resources:</h3>
    <span><%= link_to "Supreme Court", @case.sc_url %> || <%= link_to "ScotusBlog", @case.scotusblog_url %> || <%= link_to "Oyez", @case.oyez_url %> || <%= link_to "Justia", @case.justia_url %></span>
  </div>




  <div class="justiceAll">
    <% @justices.each do |justice| %>
    <% justice_opinion =  justice.opinion.find_by(case_id: @case) %>
      <div class="justiceSub">
        <div class="justiceName">
          <% if (justice.opinions.find_by(case_id: @case).majority_with == 1) %>

            <% if (majority_author == justice.name) %>
              <h2><%= justice.name %>, *DELIVERED OPINION* - Joined the Court's opinion </h2>
            <% elsif (justice_opinion.majority_joined_part == 1) %>
              <h2><%= justice.name %> - In part, joined the Court's opinion </h2>
            <% elsif (justice_opinion.majority_joined_full == 1) %>
                <h2><%= justice.name %> - Joined the Court's opinion </h2>

            <%= elsif (justice_opinion.name == concurrance_1_author) %>

            <% end %>

          <% elsif ((justice.opinions.find_by(case_id: @case).majority_with == 0)&&(justice.opinions.find_by(case_id: @case).dissent_with == 1)) %>
            <h2><%= justice.name %> - DISSENT </h2>


          <% elsif ((justice.opinions.find_by(case_id: @case).majority_with == 0)&&(justice.opinions.find_by(case_id: @case).dissent_with == 0)&&(justice.opinions.find_by(case_id: @case).no_part == 1)) %>
            <h2><%= justice.name %> - Justice did not participate in the vote </h2>
          <% else %>
            <h2><%= justice.name %> - SOMETHING WENT WRONG </h2>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>


</div>

<div class="contentEndLinks">
  <%= link_to "Back to cases", cases_path() %>
</div>
