<div class="contentTitle">
  <h2>Showing Case #<%= @case.num %>, Volume: <%= @case.volume %></h2>
</div>

<% if current_user %>
      <p>Add to Reading List?</p>
      <p>
        <button>
      </p>
<% end %>

<% @majority = 0 %>
<% @dissent = 0 %>
<div class="caseSub">

  <div class="caseName">
    <h2><%= @case.case %> -- </h2>
  </div>
  <div class="caseDates">
    <h3>Argument Date: <%= @case.argue_date%> || Opinions Delivered: <%= @case.decision_date %> </h3>
  </div>

  <div class="justiceAll">
    <% @justices.each do |justice| %>
      <div class="justiceSub">
        <div class="justiceName">
        <%= justice.name %>
        <%if justice.opinions.find_by(case: @case).majority_with == 1 %>
        <% @majority = @majority + 1 %>
          - majority
        <% elsif justice.opinions.find_by(case: @case).dissent_with == 1 %>
        <% @dissent = @dissent + 1 %>
          - dissent
        <% else %>
          - did not participate in vote
        <% end %>
          </div>
    <% end %>
    <h2> Majority: <%= @majority %> - Minority: <%= @dissent %></h2>
</div>


<div class="contentEndLinks">
  <p><%= link_to "Back to cases", cases_path() %></p>
  <% if (@case.num == 1) %>
    <%= link_to " Next Case -->", case_path(2) %>
  <% elsif (@case.num == 74)%>
    <%= link_to "<-- Previous Case ", case_path(73) %>
  <% else %>
    <%= link_to "<-- Previous Case ", case_path((@case.num - 1)) %> || <%= link_to " Next Case -->", case_path((@case.num + 1)) %>
  <% end %>
</div>
