<!DOCTYPE html>
<html>
<head>
  <title>Courtly</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Exo:800|Vollkorn' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="courtlySideBar" id="fullheight">
    <div class="courtlySideTop">
      <% if current_user %>
      <h2>Welcome, <%= current_user.email %></h2>
      <h3><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></h3>
      <% else %>
      <h3><%= link_to 'Signup', new_user_registration_path %></h3>
      <h3><%= link_to 'Login', new_user_session_path %></h3>
      <% end %>
    </div>
    <% if current_user %>
    <div class="readinglistAll">
      <h3> Your Reading List </h3>
      <% current_user.readinglists.each do |read| %>
      <div class="readinglistSub"><%= link_to "#{read.case.case}", case_path(read.case) %> </div>
      <div class="readinglistComment"><%= read.comment %></div>
      <div class="readinglistEdit"><%= link_to "Edit or add a comment", edit_case_readinglist_path(read.case, read) %></div>
      <div class="destroyReadinglist"><%= link_to "Remove case from Reading List", remove_readinglist_case_path(read.case), method: :delete, data: { confirm: 'Are you sure?'} %>
      </div>

      <div class="clearfix"></div>
      <% end %>

    </div>
    <% else %>
      <h3>Please sign in to use Reading Lists</h3>
    <% end %>
  </div>

  <div class="courtlyContent" id="fullheight">
    <div class="courtlyContentTop">
      <h1> <%= link_to "HOME", root_path() %> <%= link_to "JUSTICES", justices_path() %>  <%= link_to "CASES", cases_path() %> <%= link_to "ABOUT", about_index_path() %></h1>
    </div>
    <div class="courtlyWrapper">
      <div class="content">
        <p><%= notice %></p>
        <p><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="footing">
    <p>Tory Burgett, 2015</p>
  </div>
</body>
</html>
